<div class="navbar">
  <nav class="nav-div">
    <div class="nav-wrapper">
      <ul ng-if="!loggedIn" class="right" id="nav-menu">
        <li><a ng-click="login('signup')" class="nav-link">Sign up</a></li>
        <li><a ng-click="login('login')" class="nav-link">Log in</a></li>
        <button ng-click="login('toCreate')" class="btn waves-effect waves-light blue" id="create_event_btn" type="submit" name="action">Create Event</button>
      </ul>
      <ul ng-if="loggedIn" class="right" id="nav-menu">
        <div class="menu-wrap">
          <nav class="menu">
            <ul class="clearfix">
              <li>
                <img src="../assets/img/foco.jpg" alt="Mountain View" style="width:20px;height:15px;">
                <a href="#" ng-click="" class="nav-link">Welcome {{userName}}</a>
                <ul class="sub-menu">
                  <li><a href="#">Saved</a></li>
                  <li><a href="#">My Events</a></li>
                  <li><a href="#">My Contacts</a></li>
                  <li><a href="#">My Settings</a></li>
                  <li><a ng-click="logout()"="#">Log Out</a></li>
                </ul>
              </li>
              <li>
                <a ng-click="" class="nav-link">Help</a>
                <ul class="help-menu">
                  <li><a href="#">How it works</a></li>
                  <li><a href="#">What it costs</a></li>
                  <li><a href="#">My Tickets</a></li>
                </ul>
              </li>
              <button ng-click="" class="btn waves-effect waves-light blue" id="create_event_btn" type="submit" name="action">Create Event</button>
            </ul>
          </nav>
        </div>
      </ul>
    </div>
  </nav>
</div>