<div ng-controller="editeventCtrl">
  <link rel="stylesheet" href="../../libs/bootstrap/dist/css/bootstrap.min.css"/>
<div layout="column" class="card form-container">
  <h3 class="md-padding">Event Details</h3>
  <md-content class="md-padding">

  <form name="eventForm">
    <input type="text" required name="e-title" placeholder="Event title" ng-model="event.name"/>
    <label>Event Category</label>
        <md-select aria-label="sel" placeholder={{event.category}} ng-model="event.category" style="display: block;">
          <md-option ng-repeat="category in categories" value="{{category.name}}">{{category.name }}</md-option>
        </md-select>
    <md-textarea-container flex>
      <label>Event Description</label>
      <summernote height="300" ng-model="event.description"></summernote>
    </md-textarea-container>
    <br>
    <div layout-sm="row">
      <label>Country</label>
      <country-list ctry="event.venue.country"></country-list><br>
      <input type="text" ng-model="event.venue.address" placeholder="Enter Venue Name" id="Autocomplete" ng-click='getCountry()' ng-autocomplete="result" details="details" options="options1">
    </div>
    <br>
    <label>Event Date<span class="req">*</span></label><br>
    <div layout="row" >
      <div layout="column" class="md-padding calendar">
        Start Date: {{ event.startDate | date:'medium' }}<br>
        <datetimepicker id="startdate" ng-model="event.startDate" ></datetimepicker>
      </div>
      <div layout="column" class="md-padding calendar">
        End Date: {{ event.endDate | date:'medium' }}<br>
        <datetimepicker id="enddate" ng-model="event.endDate" ></datetimepicker>
      </div>
    </div><br>
    <div id="image-wrapper">
      <img id="edit-preview" class="editImage-box" src="" alt="" style="background-image: url({event.imageUrl}) no-repeat center"><br>
      <input ng-click="previewImg('#edit-upload','#edit-preview')" accept="image/*" ngf-select="true" id="edit-upload" ng-model="event.imageUrl" type="file"><br>
    </div><br><br>

      <div class="md-toolbar-tools centre" layout-align="center">
        <md-button class="md-raised" ng-click="submitEventDetails(event)" type="submit" ng-disabled="eventForm.$invalid">Save Changes</md-button>
      </div>
  </form>
  </div>
  <div class="md-toolbar-tools centre" layout-align="center">
    <md-button class="md-raised" ng-click="delete()" type="submit">DELETE EVENT</md-button>
  </div><br>
  </md-content>
</div>
</div>
