<div id="preview" class="switch-container" ng-controller="eventViewCtrl" data-ng-init="services()">
  <div layout="column">
    <md-toolbar md-scroll-shrink id="contentMainDiv">
      <img ng-src="{{event.imageUrl}}" height='500px' width='100%' />
    </md-toolbar>
    <div id="card">
      <md-card>
        <div layout="column" class="md-raised">
          <div id="padding">
            <div layout="row">
              <div class="md-warn" id="eventTitleDiv">
                <h3 class="md-flex">{{event.name}}</h3>
              </div>
            </div>
            <md-content flex layout-padding>
              <div class="values" layout-md="row" layout-gt-md="row" layout-sm="column">
                <div class="details-div">
                  <hr>
                  <h4><b>Event Details</b></h4>
                  <hr>
                  <br>
                  <h5>Category:</h5>
                  <h6>{{event.category}}</h6>
                  <br>               
                  <h5>Event Venue:</h5>
                  <h6>{{event.venue.address}}</h6>
                  <br>
                  <h5>Country:</h5>
                  <h6>{{event.venue.country}}</h6>
                  <br>
                  <h5> Start Date:</h5>
                  <h6>{{ event.startDate | date:'medium' }}</h6>
                  <h5> End Date:</h5>
                  <h6>{{ event.endDate | date:'medium' }}</h6>            
                  <h5>About this Event:</h5>
                  <h6 ng-bind-html="event.description"></h6>
                  <br>
                  <br>
                </div>
                <div ng-if="organizer">
                  <hr>
                  <h4><b>Organizer Details</b></h4>
                  <hr>
                  <div>
                    <img class="image-box" ng-src="{{organizer.imageUrl}}" alt=""><br>
                  </div><br>
                  <br>
                  <h5>Organized By:</h5>
                  <h6><b>{{organizer.name}}</b></h6>
                  <br>
                  <h5>About this Organizer:</h5>
                  <h6><b>{{organizer.about}}</b></h6>
                  <br>
                  <h6>Call us: {{organizer.phoneNumber1}}</h6>
                  <br>
                </div>
              </div>
            </md-content>
            <md-toolbar class="md-warn" id="sideHeaderDiv">
              <div class="md-toolbar-tools">
                <h2 class="md-flex"><b>Getting There</b></h2>
              </div>
            </md-toolbar>
            <div address-based-google-map address="event.venue.address" zoom="16" id="addressMap"></div>
          </div>
        </div>
      </md-card>
    </div>
  </div>
  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <md-button class="md-raised" type="submit" ng-click="editEvent();" ng-show="isEventOwner()">Edit Event</md-button>
    <md-button class="md-raised" type="submit" ng-click="deleteEvent();" ng-show="isEventOwner()">Delete event</md-button>
    <md-button class="md-raised" type="submit" ng-click="publishEvent();" ng-show="canPublish()">Publish event</md-button>
    <md-button class="md-raised" type="submit" ng-click="viewTasks();" ng-show="canManageTasks()">Manage event tasks</md-button>
    <md-button class="md-raised" type="submit" ng-click="viewTasks();" ng-show="isTaskManager()">Manage assigned tasks</md-button>
    <md-button class="md-raised" type="submit" ng-click="viewTasks();" ng-show="isVolunteer()">View schedule(s)</md-button>
  </section>
  <div class="md-toolbar-tools centre" layout-align="center">
    <md-button class="md-raised" ng-click="showTasks();">Volunteer</md-button>
    <md-button class="md-raised" ui-sref="user.moreEvents">More Events...</md-button>
  </div>
</div>
