<div id="preview" class="switch-container" data-ng-init="services()">
  <div layout="column">
    <md-toolbar md-scroll-shrink id="contentMainDiv">
      <img ng-src="{{event.imageUrl}}" height='500px' width='100%' />
    </md-toolbar>
    <div id="card">
      <md-card>
        <div layout="column" class="md-raised">
          <div id="padding">
            <div layout="row">
              <div class="md-warn" id="eventTitleDiv">
                <h3 class="md-flex">{{event.name}}</h3>
              </div>
            </div>
            <md-content flex layout-padding>
              <div class="values">
                <hr>
                <h4><b>Event Details</b></h4>
                <hr>
                <br>
                <h5>Category:</h5>
                <h6>{{event.category}}</h6>
                <br>               
                <h5>Event Venue:</h5>
                <h6>{{event.venue.address}}</h6>
                <br>
                <h5>Country:</h5>
                <h6>{{event.venue.country}}</h6>
                <br>
                <h5> Start Date:</h5>
                <h6>{{ event.startDate | date:'medium' }}</h6>
                <h5> End Date:</h5>
                <h6>{{ event.endDate | date:'medium' }}</h6>            
                <h5>About this Event:</h5>
                <h6 ng-bind-html="event.description"></h6>
                <br>
                <br>
                <hr>
                <h4><b>Organizer Details</b></h4>
                <hr>
                <br>
                <h5>Organized By:</h5>
                <h6>{{organizer.name}}</b></h6>
                <br>
                <h5>About this Organizer:</h5>
                <h6>{{organizer.about}}</b></h6>
                <br>
                <h6>Call us: {{organizer.phoneNumber1}}</h6>
                <br>
              </div>
            </md-content>
            <md-toolbar class="md-warn" id="sideHeaderDiv">
              <div class="md-toolbar-tools">
                <h2 class="md-flex"><b>Getting to: {{event.venue.address}}</b></h2>
              </div>
            </md-toolbar>
            <div address-based-google-map address="event.venue.address" zoom="16" id="addressMap"></div>
          </div>
        </div>
      </md-card>
    </div>
  </div>
  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <md-button class="md-raised" type="submit" ng-click="editEvent();" ng-show="canEdit">Edit Event</md-button>
    <md-button class="md-raised" type="submit" ng-click="deleteEvent();" ng-show="canEdit">Delete event</md-button>
    <md-button class="md-raised" type="submit" ng-click="publishEvent();" ng-show="canPublish">Publish event</md-button>
  </section>
  <div class="md-toolbar-tools centre" layout-align="center">
    <md-button class="md-raised" ui-sref="user.moreEvents">More Events...</md-button>
  </div>
</div>
</div>
</div>
