<div ng-controller="eventCtrl">
  <div class="navbar" style="margin: -1px;"> 
    <nav class="nav-div">
      <div class="nav-wrapper">
        <span ui-sref="home" class="brand-logo left"><strong id="navbar-logo">World Tree</strong></span>
        <ul ng-if="loggedIn" class="right" id="nav-menu">
          <li class="user-dropdown">
            <a href="" ng-click="">
            <img ng-src="{{profilePic}}" class="navbar-image">
            <span>Welcome {{userName}}</span>
            </a>
            <ul class="user-menu">
              <li class="menu-list"><a href="" ng-click="">My Profile</a></li>
              <li class="menu-list"><a href="" ng-click="">Browse Events</a></li>
              <li class="menu-list"><a href="" ng-click="logout()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <link rel="stylesheet" href="../../libs/bootstrap/dist/css/bootstrap.min.css"/>
  <md-toolbar layout="row" class"md-padding md-raised">
    <div class="md-toolbar-tools"> 
      <md-button ng-click="currDisplay('create')">CREATE</md-button>
      <md-button ng-click="currDisplay('preview')">PREVIEW</md-button>
    </div>
  </md-toolbar>
  <div ng-switch on="view">

    <div layout="column" class="md-padding" style="width:60%;" ng-switch-when="create">
      <md-content class="md-padding">
      <form ng-submit="submitEventDetails(event, organizer)">
        <input type="text" required name="e-title" class="input-textbox" placeholder="Event title" ng-model="event.name" />
        
          <md-select aria-label="sel" ng-model="event.category" placeholder="Select Category" style="display: block;">  
            <md-option ng-repeat="category in categories" value="{{category.name}}">{{category.name}}</md-option>
          </md-select>
      
        <md-textarea-container flex>
          <label>Event Description</label>
          <summernote height="300" ng-model="event.description"></summernote>
        </md-textarea-container>
        <br>
        <label>Venue</label><br>
        <div layout-sm="row">  
            
              <label>Country</label>
              <select id="ddlViewBy" placeholder="Select Country" ng-model="event.country" style="display: block;">  
                <option ng-repeat="country in countries" value="{{country.code}}">{{country.name}}</option>         
              </select>
         
              <input type="text" ng-model="event.venue" placeholder="Enter Venue Name" id="Autocomplete" ng-click='getCountry()' ng-autocomplete="result" details="details" options="options1"></input>
          
        </div>
        <br>
        <div layout layout-sm="column">  
            <label>Event Starts</label>
            <md-input-container flex class="md-padding">
              <input ng-model="event.startDate" type="date" placeholder="Date">
            </md-input-container>
            <md-input-container flex class="md-padding">
              <input ng-model="event.startTime" type="time" placeholder="Time">
            </md-input-container>          
        </div>
        <div layout layout-sm="column">
            <label>Event End</label>
            <md-input-container flex class="md-padding">
              <input ng-model="event.endDate" type="date" placeholder="Date">
            </md-input-container>
            <md-input-container flex class="md-padding">
              <input ng-model="event.endTime" type="time" placeholder="Time">
            </md-input-container>   
        </div>
        <div id="image-wrapper">
          <img id="image-preview" src="" alt="" style="height: 250px; width:300px; border: double 2px #aaa; border-radius: 20px; background: url('../../assets/img/preview-icon.jpg') no-repeat center;"><br>
          <input ng-click="previewImg('#image-upload','#image-preview')" accept="image/*" ngf-select="true" id="image-upload" ng-model="event.imageUrl" type="file"><br>
        </div><br><br>
        <h3>Organizer Profile</h3>
        <ng-form>
        <md-input-container>
          <label>Organizer's Name</label>
          <input type="text" required name="e-title" ng-model="organizer.name"></input>
        </md-input-container>
          <label>About the Organizer's</label>
          <summernote height="300" ng-model="organizer.about"></summernote>
          <br>
          <label>Phone Numbers</label>
          <div layout= "column" style="width:50%">
            <md-input-container>
              <input placeholder = "Number 1" ng-model="organizer.PhoneNumber1">
            </md-input-container>
            <md-input-container>
               <input placeholder= "Number 2" ng-model="organizer.PhoneNumber2">
            </md-input-container>
          </div>
          <div id="image-wrapper">
            <img id="orgImg-preview" src="" alt="" style="height: 250px; width:300px; border: double 2px #aaa; border-radius: 20px; background: url('../../assets/img/preview-icon.jpg') no-repeat center;"><br>
            <input ng-click="previewImg('#orgImg-upload','#orgImg-preview')" id="orgImg-upload" accept="image/*" ngf-select="true" ng-model="organizer.imageUrl" type="file"><br>
          </div><br>
          <label>Team Member's</label>
          <div layout layout-sm="column">
            <md-input-container class="md-padding" flex>
              <label>Name</label>
              <input  type="text" >
            </md-input-container>
            <md-input-container class="md-padding" flex>
            <label>Email</label>
              <input  type="email">
            </md-input-container>
            <md-container class="md-padding" flex>
              <label>Role</label>
              <select placeholder="Role" style="display: block;"></select> 
            </md-container>
          </div>
       
        </ng-form><br>
          <input type="submit" value="Submit">
       
        
      </form>
      </md-content>
    </div>
    <div id="for preview" ng-switch-when="preview">
      <div id = "previewDiv">
              <h4 class="md-display-2">Select a theme</h4>
              <div layout="column">
                <div id="theme" layout="row">
                  <md-button type="button" class="md-raised" id="default" ng-click="changeColor('#9E9E9E','#E0E0E0')">default<div id="bar"></div></md-button>
                  <md-button type="button" class="md-raised" id="theme1" ng-click="changeColor('#F44336','#E57373')">red<div id="bar"></div></md-button>
                  <md-button type="button" class="md-raised" id="theme2" ng-click="changeColor('#2196F3','#90CAF9')">blue<div id="bar"></div></md-button>
                  <md-button type="button" class="md-raised" id="theme3" ng-click="changeColor('#FF9800','#FFCC80')">orange<div id="bar"></div></md-button>
                  <md-button type="button" class="md-raised" id="theme4" ng-click="changeColor('#4CAF50','#81C784')">green<div id="bar"></div></md-button>
                  
                  <md-button type="button" class="md-raised" id="theme5" ng-click="changeColor('#00BCD4', '#80DEEA')">cyan<div id="bar"></div></md-button>
                </div>
                <h4>Event Page Preview</h4>
                <div layout="column">
                  <div id="padding">
                    <div layout="row">
                      <md-toolbar md-scroll-shrink id="headerDiv" class="bars">
                        <h4 class="md-toolbar-tools">
                          <span>Event Title</span>
                        </h4>
                      </md-toolbar>
                      <md-toolbar md-scroll-shrink id = "sideHeaderDiv" class="bars">
                        <h4 class="md-toolbar-tools">
                          <span>Getting there</span>
                        </h4>
                      </md-toolbar>
                    </div>
                    <div layout = "row">
                      <md-toolbar md-scroll-shrink id="contentMainDiv" class="bars1">
                      </md-toolbar>
                      <md-toolbar md-scroll-shrink id = "contentSideDiv" class="bars1">
                      </md-toolbar>
                    </div>
                    <div layout="row">
                      <md-toolbar md-scroll-shrink id="eventDetails" class="bars">
                        <p>Event Details</p>                    
                      </md-toolbar>
                      <md-toolbar md-scroll-shrink id="organizers" class="bars">
                        <p>Organizers</p>
                      </md-toolbar>
                    </div>
                    <div layout="row">
                      <md-toolbar md-scroll-shrink id="eventContent" class="bars1">
                        <p>Event Name</p> <br/>
                        <p>Event Venue</p><br/>
                        <p>Event Category</p><br/>
                        <p>Event Description</p>
                      </md-toolbar>
                      <md-toolbar md-scroll-shrink id="organizersContent" class="bars1">
                        <p>Organizer's Name</p><br/>
                        <p>About Organizers</p><br/><br/>
                        <p>Phone Numbers</p>
                      </md-toolbar>
                    </div><br/>
                    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                      <md-button class="md-raised" type="submit" ng-disabled="createEvent.$invalid">Create Event</md-button>
                    </section>
                  </div>
                </div>
              </div>
            </div>
    </div>
  </div>

    <div class="md-toolbar-tools centre" layout-align="center"> 
      <md-button ng-click="currDisplay('create')">CREATE</md-button>
      <md-button ng-click="currDisplay('preview')">PREVIEW</md-button>
    </div>

</div>
