<div ng-controller="homeCtrl">
  <img class="bg" src="../assets/img/bgimg.jpg" alt="background img">
  <div class="parallax-container" id="parallax-div">
    <div class="section no-pad-bot">
      <div class="container"><br><br>
        <h1 class="header center white-text text-darken-2"><strong id="site-logo">World Tree</strong></h1>
        <div class="row center" id="motto-display-div">
          <h5 class="header col s12 light"><p id="motto-display">Organize Events Efficiently. Better Planning. Faster Team Work&nbsp;&nbsp;&nbsp;</p></h5>
        </div>
        <div id="btn_div" class="row center">
          <a href="#downpage" class="btn waves-effect waves-light blue event-btn">View Events</a>
          <a href="#downpage"><div class="arrow bounce"></div></a>
        </div>
      </div>
    </div>
  </div>
  <div id="event-list" data-ng-init="fetchEvents()" class="row">
    <div class="title blue-text bold center"><h4>FEATURED EVENTS</h4><hr style="width: 15%;"></div><br>
    <div ng-repeat="event in eventList | orderBy: 'startDate' | limitTo: 12" class="col m4" id="homeEvent-container">
      <div class="card medium">
        <div class="card-image">
              <img ng-src="{{event.imageUrl}}" class="responsive-img">
        </div>
        <div class="card-content event-card-inner" ng-click="openEventDetails(event._id)">
          <p><span class="card-title black-text"><strong>{{event.name | uppercase}}</strong></span></p>
          <p>{{event.venue.address | uppercase | limitTo:70}}</p>
          <p>{{event.venue.address | uppercase}}</p>
          <p>{{event.startDate | date:'medium'}}</p>
        </div>
      </div>
    </div>
  </div>
  <div id="browseBtn" class="title blue-text bold center"><md-button ui-sref="user.moreEvents" class="md-raised">View More Events</md-button>
</div>
