<md-dialog aria-label="login" style="font-family:Courier">
  <md-dialog-content ng-hide="signup_dialog">
    <div style="width:500px">
      <md-content>
        <div layout="row" layout-align="center center">
          <h5 flex offset="40"><strong>Log In</strong></h5>
          <span flex offset="20">
          <md-button class="md-icon-button" ng-click="closeDialog()">
            <md-icon md-svg-src="../../assets/img/icons/close_dialog.svg" aria-label="Close dialog"></md-icon>
          </md-button>
          </span>
        </div>
        <span layout="row" layout-align="center center">Don't have an account?&nbsp;<a href="" ng-click="signup_dialog = true">Sign up</a></span>
        <div style="width:400px;margin:20px auto">
          <form>
              <input type="text" ng-model="userInfo.email" flex="60" class="signup_textbox" placeholder="Email" />
              <div ng-show="wrongEmail" class="password_message">This email is not registered</div>
              <input type="password" ng-model="userInfo.password" flex="60" class="signup_textbox" placeholder="Password" />
              <div ng-show="wrongPassword" class="password_message">Wrong Password</div>
              <section layout="row" layout-sm="column" layout-align="center center">
                <md-button ng-click="loginUser(userInfo)" flex="50" class="md-raised">Log In</md-button>
              </section>
              <md-progress-linear md-mode="indeterminate" ng-show="progressLoad"></md-progress-linear>
          </form>
        </div>
        <hr>
        <span layout="row" layout-align="center center"><em><strong>Or</strong></em></span>
        <div layout="row" layout-align="center center">
          <img style="height:50px;width:230px;" src="../../assets/img/icons/google_signin_logo.png">
          <img style="height:50px;width:230px;" src="../../assets/img/icons/signin_facebook.png">
        </div>
      </md-content>
    </div>
  </md-dialog-content>
  <md-dialog-content ng-show="signup_dialog" >
    <div style="width:500px">
      <md-content>
        <div layout="row" layout-align="center center">
          <h5 flex offset="40"><strong>Sign Up</strong></h5>
          <span flex offset="15">
          <md-button class="md-icon-button" ng-click="closeDialog()">
            <md-icon md-svg-src="../../assets/img/icons/close_dialog.svg" aria-label="Close dialog"></md-icon>
          </md-button>
          </span>
        </div>
        <span layout="row" layout-align="center center">Already have an account?&nbsp;<a href="" ng-click="signup_dialog = !signup_dialog">Log In</a></span>
        <div style="width:400px;margin:20px auto">
          <form name="signupForm">
              <input ng-model="newUser.firstname" type="text" flex="60" class="signup_textbox" placeholder="First Name" required />
              <input ng-model="newUser.lastname" type="text" flex="60" class="signup_textbox" placeholder="Last Name" required />
              <input ng-model="newUser.email" type="text" name="myEmail" flex="60" class="signup_textbox" placeholder="Email" required />
              <div ng-show="validEmail" class="password_message">Enter Valid Email</div>
              <div ng-show="emailTaken" class="password_message">This email is taken</div>
              <input ng-model="newUser.password" name="password" type="password" flex="60" class="signup_textbox" placeholder="Password" ng-minlength="6" ng-maxlength="20" required />
              <div ng-messages="signupForm.password.$error">
                <div class="password_message" ng-message="minlength">Enter a minimun of 6 characters</div>
                <div class="password_message" ng-message="maxlength">Can not be more than 20 characters</div>
              </div>
              <section layout="row" layout-sm="column" layout-align="center center">
                <md-button ng-click="signupUser(newUser)" ng-disabled="signupForm.$invalid" flex="50" class="md-raised">Sign up</md-button>
              </section>
              <md-progress-linear md-mode="indeterminate" ng-show="progressLoad"></md-progress-linear>
          </form>
        </div>
        <hr>
        <span layout="row" layout-align="center center"><em><strong>Or</strong></em></span>
        <div layout="row" layout-align="center center">
          <a ng-href="/auth/google"><img style="height:50px;width:230px;cursor:pointer" ng-click="googleAuth()" src="../../assets/img/icons/google_signin_logo.png">
          <img style="height:50px;width:230px;cursor:pointer" src="../../assets/img/icons/signin_facebook.png">
        </div>
      </md-content>
    </div>
  </md-dialog-content>
</md-dialog>