<div ng-controller="moreEventsCtrl" data-ng-init="fetchEvents()" layout= "row" class="switch-container">
  <div layout="column">
    <md-toolbar md-scroll-shrink id="image-div">
      <img id="more-events-banner" src="../../assets/img/city-people-woman-street.jpg" />
      <i class="fa fa-plus-circle fa-4x plus-tooltip" ui-sref="user.cevent"></i>
    </md-toolbar>
    <link rel="stylesheet" href="../../libs/bootstrap/dist/css/bootstrap.min.css" />
    <div style="background: #66ccff; height: 130px; width: 100%; margin-top: 3em">
      <p style="margin-left: 6%; color: white; font-size: 50px;">EVENTS</p>
    </div>
    <div layout="row" layout-sm="column">
      <div layout="row"  layout-sm="column" class="more-events" layout-wrap>
        <div ng-repeat="event in filtered =(eventList | filter: find)">
          <md-card class="event-card" flex="33" ui-sref="user.eventDetails({event_id: event._id})">
            <md-card-content style="padding: 0px;">
              <div>
                <img ng-src="{{event.imageUrl}}" class="responsive-img" id="image-preview">
              </div>
              <div>
                <p>{{event.startDate | date:'medium'}}</p>
                <p><span class="card-title black-text"><strong>{{event.name | uppercase}}</strong></span></p>
                <p>Country: {{event.venue.country}}</p>
                <p>Category: {{event.category | uppercase}}</p>
              </div>
            </md-card-content>
          </md-card>
        </div>
      </div>
      <div class="filter-card">
        <md-card>
          <md-card-content>
            <h1 class="md-toolbar-tools">Filter by...</h1>
            <md-content layout-padding>
              <div layout= "column">
                <div>
                  <md-input-container flex>
                    <label>Event name</label>
                    <input ng-model="find.name">
                  </md-input-container>
                </div>        
                <md-select aria-label="sel" id="sideTags" ng-model="find.category" placeholder="Category" style="display: block;">  
                  <md-option ng-click="fetchEvents()" value="">All</md-option>
                  <md-option placeholder="Category" ng-repeat="category in categories" value="{{category.name}}"> {{category.name}}
                  </md-option>
                </md-select> 
                <country-list country-code="countryCode"></country-list>
              </div>
            </md-content>
          </md-card-content>
        </md-card>
      </div>
    </div>
  </div>
</div>
