<div class="navbar-fixed">
  <nav class="nav-div">
    <div class="nav-wrapper">
    <span ui-sref="user.home" id="navbar-logo"><strong style="font-family:papyrus;color:white">World Tree</strong></span>
      <ul ng-if="!loggedIn" class="right" id="nav-menu">
        <li><a ng-click="login('signup')" tabindex="-1" class="nav-link">Sign up</a></li>
        <li><a ng-click="login('login')" tabindex="-1" class="nav-link">Log in</a></li>
        <button ng-click="login('toCreate')" class="btn waves-effect waves-light blue event-btn" type="submit" name="action">Create Event</button>
      </ul>
      <ul ng-if="!loggedIn" class="right" id="icon-menu">
        <li class="user-dropdown">
          <i class="mdi-action-toc right"></i>
          <ul class="user-menu">
            <li class="menu-list"><a href="" ng-click="login('signup')">Sign up</a></li>
            <li class="menu-list"><a href="" ng-click="login('login')">Log in</a></li>
          </ul>
        </li>
      </ul>
      <ul ng-if="loggedIn" class="right" id="nav-menu">
        <li class="user-dropdown">
          <a href="" ng-click="">
          <img ng-src="{{profilePic}}" class="navbar-image">
          <span id="display-name">Welcome {{userName}}</span>
          </a>
          <ul class="user-menu">
            <li class="menu-list"><a href="" ng-click="">My Profile</a></li>
            <li class="menu-list"><a href="" ng-click="">Browse Events</a></li>
            <li class="menu-list"><a href="" ng-click="logout()">Logout</a></li>
          </ul>
        </li>
        <button ui-sref="user.cevent" class="btn waves-effect waves-light blue event-btn" type="submit" name="action">Create Event</button>
      </ul>
    </div>
  </nav>
</div>
<div ui-view></div>