<link rel="stylesheet" href="../../libs/bootstrap/dist/css/bootstrap.min.css"/>

  <md-toolbar style="background:#597eaa">
    <div class="md-toolbar-tools">
      <strong style="color:black;font-size:30px" >My Profile</strong>
    </div>
  </md-toolbar>
  <md-content class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>      
      <md-tab label="Edit Profile">
        <md-content class="md-padding" style="width: 80%; margin:0 auto">
            <h3 style="margin-bottom: 10px">{{userInformation.firstname | uppercase}}'s Profile</h3>
            <div style="height:250px;width:200px" ng-show="!userEditMode">
              <img ng-src="{{userInformation.profilePic}}" style="width:200px">
              <span style="height:40px;background:rgba(0,0,0,.3);display:block;margin-top:-5px;padding:10px 30px"><a ng-click="switchUserEditMode(true);">Change profile photo</a></span>
            </div>
            <div id="user-image-wrapper" ng-show="userEditMode" style="height:250px;width:200px">      
              <img id="userImg-preview" class="image-box" style="height: 200px; width:200px"  src="">
              <span style="height:40px;background:rgba(0,0,0,.3);display:block;margin-top:-5px;padding:10px 30px"><a ng-click="uploadPicture()" >Click to upload photo</a></span>
              <input ng-click="previewImg('#userImg-upload','#userImg-preview')" id="userImg-upload" accept="image/*" ngf-select="true" ng-model="userInformation.newImage" type="file">
            </div>
            <br>

            <div style="width:70%">
            <md-toolbar style="background:#f0f0f0;color:black;">
              <div class="md-toolbar-tools">
                <strong>Account Information</strong>
              </div>
            </md-toolbar>
            </div>
            <form>              
              <div ng-show="userEditMode">
                <div layout="row">
                  <input type="text" title="First name" flex="30" placeholder="First Name" class="input-textbox" style="margin-right:30px" ng-model="userInformation.firstname">
                  <input type="text" title="Last name" flex="30" placeholder="Last Name" class="input-textbox" ng-model="userInformation.lastname">
                </div><br>
                <div layout="row">
                  <input type="text" title="Email" flex="30" placeholder="Email" class="input-textbox" style="margin-right:30px" ng-model="userInformation.email">
                  <select  title="Gender" class="select-textbox" flex="30" style="display:block" ng-model="userInformation.gender">
                    <option value="">Select Gender</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                  </select>
                </div><br>
                <div layout="row">
                  <input type="text" title="Phone Number 1" flex="30" placeholder="Phone Number 1" class="input-textbox" style="margin-right:30px" ng-model="userInformation.phoneNumber1">
                  <input type="text" title="Phone Number 2" flex="30" placeholder="Phone Number 2" class="input-textbox" ng-model="userInformation.phoneNumber2">
                </div>
                <strong>Date Of Birth</strong>
                <div layout="row">                
                <input flex="30" type="text" class="input-textbox" id="datepicker" readonly ng-model="userInformation.dateOfBirth" jqdatepicker>
                </div>
               
                <strong>Address 1</strong>
                <div layout="row">
                  <textarea flex="65" ng-model="userInformation.address1" style="height: 60px"></textarea>
                </div><br>
                <strong>Address 2</strong>
                <div layout="row">
                  <textarea flex="65" ng-model="userInformation.address2" style="height: 60px"></textarea>
                </div>
              </div>

              <div ng-show="!userEditMode" style="color: #337ab7">
                <div layout="row" style="margin-top:20px;">
                <span style="margin-right:30px;"><strong>First Name: </strong>{{userInformation.firstname | uppercase}}</span>                
                </div><br>
                <div layout="row">
                <span style="margin-right:30px;">
                  <strong>Last Name: </strong>{{userInformation.lastname}}</span>
                </div><br>
                <div layout="row">
                  <span style="margin-right:30px" ><strong>Email: </strong>{{userInformation.email}}</span>                              
                </div><br>
                <div layout="row">                  
                  <span style="margin-right:30px"><strong>Gender: </strong>{{userInformation.genderDet}}</span>              
                </div><br>
                <div layout="row">
                  <span style="margin-right:30px" ><strong>Phone Number 1: </strong>{{userInformation.phoneNumber1}}</span>                 
                </div><br>
                <div layout="row" ng-show="userInformation.phoneNumber2">                  
                  <span style="margin-right:30px"><strong>Phone Number 2: </strong>{{userInformation.phoneNumber2}}</span>   
                </div><br>             
                <div layout="row">
                  <span style="margin-right:30px" ><strong>Date Of Birth: </strong> {{userInformation.dobDet}}</span>                                 
                </div><br> 
                <strong>Address 1</strong>
                <div layout="row">
                  {{userInformation.address1}}
                </div><br>
                <strong>Address 2</strong>
                <div layout="row">
                  {{userInformation.address2}}
                </div>  
              </div>
              <br>
              <md-button class="md-raised" ng-click="switchUserEditMode(true)" ng-show="!userEditMode"> Edit Profile</md-button>
              <md-button class="md-raised" ng-click="updateUser()" ng-show="userEditMode"> Save Changes</md-button>
              <md-button class="md-raised" ng-click="switchUserEditMode(false)" ng-show="userEditMode"> Cancel Changes</md-button>
            </form>
          </md-content>
      </md-tab>
      <md-tab label="My Organizer Profile">
        <md-content class="md-padding" style="width: 80%; margin:0 auto">
          <h3>Organizer Profile</h3>
          <ng-form>

              <div ng-show="!organizerEditMode" style="color: #337ab7">             
                <div layout="row">
                <span style="margin-right:30px" ><strong>Name: </strong>{{organizer.name}}</span>                
                </div><br>             
                <h4>About</h4>
                <div width="60%">{{organizer.about}}</div>
                <br>
                <h4>Profile Image</h4>               
                <div>                
                  <img class="image-box" ng-src="{{organizer.imageUrl}}" alt=""><br>               
                </div><br>
              </div>

              <div ng-show="organizerEditMode">
                
                  <label>Name</label>
                  <div layout="row">
                  <input flex="50" class="input-textbox" type="text" required name="e-title" ng-model="organizer.name"/>
                  </div>
                
                  <label>About</label>
                <div layout="row">
                  <textarea flex="65" row="4" ng-model="organizer.about" style="height: 100px"></textarea>
                </div><br>
                <br>
                <label>Profile Image</label>           
                <div id="image-wrapper">
                  <img id="orgImg-preview" class="image-box" src="" alt=""><br>
                  <input ng-click="previewImg('#orgImg-upload','#orgImg-preview')" id="orgImg-upload" accept="image/*" ngf-select="true" ng-model="organizer.newImage" type="file"><br>
                </div><br>
              </div>

            <div ng-show="$scope.orgProfileExists">
              <label>Team Member's</label>
              <div layout layout-sm="column">
                <md-input-container class="md-padding" flex>
                  <label>Name</label>
                  <input  type="text" >
                </md-input-container>
                <md-input-container class="md-padding" flex>
                  <label>Email</label>
                  <input  type="email">
                </md-input-container>
                <md-input-container class="md-padding" flex>
                  <label>Role</label>
                  <input  type="text">
                </md-input-container>
              </div>
            </div>
            <md-button class="md-raised" ng-click="switchOrganizerEditMode(true)" ng-show="!organizerEditMode && orgProfileExists"> Edit Profile</md-button>
            <md-button class="md-raised" ng-click="organizerButtnSave(organizer)" ng-show="organizerEditMode"> Save Changes</md-button>
            <md-button class="md-raised" ng-click="deleteOrganizer()" ng-show="organizerEditMode && orgProfileExists">Delete Organizer Profile</md-button>           
            <md-button class="md-raised" ng-click="switchOrganizerEditMode(false)" ng-show="organizerEditMode && orgProfileExists"> Cancel Changes</md-button>
          </ng-form><br>
        </md-content>
      </md-tab>
      <md-tab label="My Publshed Events">
        <md-content class="md-padding">
            <div layout="row" style="width:80%;margin:0 auto">
              <div flex>
                <div ng-repeat="event in publishedEvents | orderBy: '-created_at' ">
                  <md-card style="margin-left: 10px; float: left; width:300px">
                    <img ng-src="{{event.imageUrl}}" width="300px" height="300px">
                    <md-card-content>
                      <a><h2 class="md-title"><strong style="color:black;font-size:25px">{{event.name}}</strong></h2></a>
                      <a href="" style="margin-right:8px" ng-click="editEvent(event._id)">edit</a><a style="margin-right:8px" href="" ng-click="deleteEvent(event._id, publishedEvents)">delete</a><a href="" ng-click="viewEvent(event._id)">view</a>
                    </md-card-content>
                  </md-card>
                </div>
              </div>
            </div>
          </md-content>
      </md-tab>
       <md-tab label="My Event Drafts">
        <md-content class="md-padding">
            <div layout="row" style="width:80%;margin:0 auto">
              <div flex>
                <div ng-repeat="event in eventDrafts | orderBy: '-created_at' ">
                  <md-card style="margin-left: 10px; float: left; width:300px">
                    <img ng-src="{{event.imageUrl}}" width="300px" height="300px">
                    <md-card-content>
                      <a><h2 class="md-title"><strong style="color:black;font-size:25px">{{event.name}}</strong></h2></a>
                      <a href="" style="margin-right:8px" ng-click="editEvent(event._id)">edit</a><a style="margin-right:8px" href="" ng-click="deleteEvent(event._id, eventDrafts)">delete</a><a href="" ng-click="viewEvent(event._id)">view</a>
                    </md-card-content>
                  </md-card>
                </div>
              </div>
            </div>
          </md-content>
      </md-tab>
      <!-- <md-tab label="My Saved Events">
        <md-content class="md-padding" layout-padding style="max-height:500px;padding: 10px;">
            <md-list>
              <md-subheader class="md-no=sticky"><strong>list of saved events</strong></md-subheader>
              <md-subheader><a href="#" ng-click="removeSaved()">clear all</a></md-subheader>
              <md-divider></md-divider>
              <md-list-item ng-repeat="item in eventDrafts">
                <a style="color:black" ui-sref="user.home">{{item.name}}</a>
                <md-list-item>
                  <a ng-click="deleteItem(item.key)"><em>delete</em></a>
                </md-list-item>
              </md-list-item>
              <md-divider></md-divider>
            </md-list>
          </md-content>
      </md-tab>  -->     
    </md-tabs>
  </md-content>