<link rel="stylesheet" href="../../libs/bootstrap/dist/css/bootstrap.min.css"/>

  <md-toolbar id="profileToolbar">
    <div class="md-toolbar-tools">
      <strong id="profileHeader">My Profile</strong>
    </div>
  </md-toolbar>
  <md-content id="profilePane" class="md-padding">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="User Profile">
        <md-content class="md-padding">
            <h3 id="profileUsername">{{userInformation.firstname | uppercase}}'s Profile</h3>
            <div id="userProfileReadonlyPane" ng-show="!userEditMode">
              <img id="userProfileImage" ng-src="{{userInformation.profilePic}}">
              <span class="profilePictureText"><a ng-click="switchUserEditMode(true);">Change profile photo</a></span>
            </div>
            <div id="user-image-wrapper" ng-show="userEditMode">      
              <img id="userImg-preview" class="user-image-box">
              <span class="profilePictureText"><a ng-click="uploadPicture()" >Click to upload photo</a></span>
              <input ng-click="previewImg('#userImg-upload','#userImg-preview')" id="userImg-upload" accept="image/*" ngf-select="true" ng-model="userInformation.newImage" type="file">
            </div>
            <br>

            <div style="width:70%">
              <md-toolbar id="userInfoHeader">
                <div class="md-toolbar-tools">
                  <strong>User Information</strong>
                </div>
              </md-toolbar>
            </div>
            <form>
              <div ng-show="userEditMode">
                <div layout="row" class="profileFirstRow">
                  <input type="text" title="First name" flex="30" placeholder="First Name" class="input-textbox" ng-model="userInformation.firstname">
                  <span class="req profileLeftColumn">*</span>
                  <input type="text" title="Last name" flex="30" placeholder="Last Name" class="input-textbox" ng-model="userInformation.lastname">
                  <span class="req">*</span>
                </div><br>
                <div layout="row">
                  <input type="text" title="Email" flex="30" placeholder="Email" class="input-textbox" ng-model="userInformation.email">
                  <span class="req profileLeftColumn">*</span>
                  <select  title="Gender" class="select-textbox" flex="30" style="display:block" ng-model="userInformation.gender">
                    <option value="">Select Gender</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                  </select>
                </div><br>
                <div layout="row">
                  <input type="text" title="Phone Number 1" flex="30" placeholder="Phone Number 1" class="input-textbox" ng-model="userInformation.phoneNumber1"><span class="profileLeftColumn">&nbsp;&nbsp;&nbsp;</span>
                  <input type="text" title="Phone Number 2" flex="30" placeholder="Phone Number 2" class="input-textbox" ng-model="userInformation.phoneNumber2">
                </div>
                <strong>Date Of Birth</strong>
                <div layout="row">
                  <div layout="column" class="md-padding calendar">
                    <datepicker show-weeks="false" ng-model="userInformation.dateOfBirth"></datepicker>
                  </div>
                </div>

                <strong>Address 1</strong>
                <div layout="row">
                  <textarea flex="65" class="address-textarea" ng-model="userInformation.address1"></textarea>
                </div><br>
                <strong>Address 2</strong>
                <div layout="row">
                  <textarea flex="65" class="address-textarea" ng-model="userInformation.address2"></textarea>
                </div>
              </div>

              <div ng-show="!userEditMode" class="profileText">
                <div layout="row" class="profileFirstRow">
                <span class="profileLeftColumn"><strong>First Name: </strong>{{userInformation.firstname | uppercase}}</span> 
                </div><br>
                <div layout="row">
                <span class="profileLeftColumn">
                  <strong>Last Name: </strong>{{userInformation.lastname}}</span>
                </div><br>
                <div layout="row">

                  <span class="profileLeftColumn"><strong>Email: </strong>{{userInformation.email}}</span>                              
                </div><br>
                <div layout="row">                  
                  <span class="profileLeftColumn"><strong>Gender: </strong>{{userInformation.genderDet}}</span>              
                </div><br>
                <div layout="row">
                  <span class="profileLeftColumn"><strong>Phone Number(s): </strong>{{userInformation.phoneNumber1}}<span ng-if="userInformation.phoneNumber2">, {{userInformation.phoneNumber2}}</span></span>                 
                </div><br>
                         
                <div layout="row">
                  <span class="profileLeftColumn"><strong>Date Of Birth: </strong> {{userInformation.dobDet}}</span>                                 
                </div><br> 
                <strong>Address 1</strong>
                <div layout="row">
                  {{userInformation.address1}}
                </div><br>
                <strong>Address 2</strong>
                <div layout="row">
                  {{userInformation.address2}}
                </div>
              </div>
              <br>
              <md-button class="md-raised" ng-click="switchUserEditMode(true)" ng-show="!userEditMode"> Edit Profile</md-button>
              <md-button class="md-raised" ng-click="updateUser()" ng-show="userEditMode"> Save Changes</md-button>
              <md-button class="md-raised" ng-click="switchUserEditMode(false)" ng-show="userEditMode"> Cancel Changes</md-button>
            </form>
          </md-content>
      </md-tab>
      <md-tab label="My Organizer Profile">
        <md-content class="md-padding">
          <h3>Organizer Profile</h3>
          <ng-form>
              <div ng-show="!organizerEditMode" class="profileText">             
                <div layout="row">
                <span class="profileLeftColumn"><strong>Name: </strong>{{organizer.name}}</span>                
                </div><br>
                <h4>About</h4>
                <div width="60%">{{organizer.about}}</div>
                <br>
                <h4>Profile Image</h4>
                <div>
                  <img class="image-box" ng-src="{{organizer.imageUrl}}" alt=""><br>
                </div><br>
              </div>

              <div ng-show="organizerEditMode">

                  <label>Name</label>
                  <div layout="row">
                  <input flex="50" class="input-textbox" type="text" required name="e-title" ng-model="organizer.name">
                  <span class="req">*</span>
                  </div>

                  <label>About</label>
                <div layout="row">
                  <textarea flex="65" row="4" ng-model="organizer.about" class="address-textarea"></textarea>
                </div><br>
                <br>
                <label>Profile Image</label>
                <div id="image-wrapper">
                  <img id="orgImg-preview" class="image-box" src="" alt=""><br>
                  <input ng-click="previewImg('#orgImg-upload','#orgImg-preview')" id="orgImg-upload" accept="image/*" ngf-select="true" ng-model="organizer.newImage" type="file"><br>
                </div><br>
              </div>           
            <md-button class="md-raised" ng-click="switchOrganizerEditMode(true)" ng-show="!organizerEditMode && orgProfileExists"> Edit Profile</md-button>
            <md-button class="md-raised" ng-click="organizerButtnSave()" ng-show="organizerEditMode"> Save Changes</md-button>
            <md-button class="md-raised" ng-click="deleteOrganizer()" ng-show="!organizerEditMode && orgProfileExists">Delete Organizer Profile</md-button>
            <md-button class="md-raised" ng-click="switchOrganizerEditMode(false)" ng-show="organizerEditMode && orgProfileExists"> Cancel Changes</md-button>



             <div ng-show="orgProfileExists" layout-margin>
              <md-title>Team Member's</md-title>              

              <div layout layout-sm="column" layout-padding ng-repeat="member in staff">
                <div flex layout="column">
                  <md-title>Name</md-title>
                  <span>{{member.firstname | uppercase}} {{member.lastname | uppercase}} </span>
                </div>
                <div flex layout="column">
                  <md-title>Email</md-title>
                  <span>{{member.email}}</span>
                </div>
                <div flex layout="column">
                  <md-title>Role</md-title>
                  <input type="text" ng-model="member.role">
                </div>               
                <md-button class="md-fab md-mini"  title="Delete team member" ng-click="deleteTeamMember(member.id)">-</md-button>
                <md-button class="md-fab md-mini" ng-if="member.role"  title="Change member role" ng-click="editMemberRole(member.id, member.role)">✔</md-button>               
              </div>

              <div layout layout-sm="column" layout-padding>
                 <div flex layout="column" ng-if="newStaff.firstname">
                    <md-title>Name</md-title>
                    <span>{{newStaff.firstname | uppercase}} {{newStaff.lastname | uppercase}} </span>
                  </div>
                  <div flex layout="column" ng-if="newStaff.email">
                    <md-title>Email</md-title>
                    <span>{{newStaff.email}}</span>
                  </div>

                  <div flex layout="column" ng-if="newStaff.email">
                    <md-title>Role<span class="req">*</span></md-title>
                    <input type="text" ng-model="newStaff.role">
                  </div>               
                <md-button class="md-fab md-mini" title="Add team member" ng-if="newStaff.role" ng-click="addTeamMember()">+</md-button>
              </div>
              <div layout flex>
                <md-autocomplete
                    ng-disabled="false"
                    md-no-cache="false"
                    md-selected-item="selectedItem"
                    md-search-text-change="searchTextChange(searchText)"               
                    md-search-text="searchText"
                    md-selected-item-change="selectedUserChange(user)"
                    md-items="user in querySearch(searchText)"
                    md-item-text="user.email"
                    md-min-length="0"
                    placeholder="Search and add team member"
                    md-menu-class="autocomplete-custom-template" flex="60">
                  <md-item-template>
                    <span class="item-title">
                      <img ng-src="{{user.profilePic}}" class="profile-icon">
                      <span> {{user.email}} </span>
                    </span>
                    <span class="item-metadata">
                      <span class="item-metastat">
                        <strong>{{user.firstname | uppercase}}</strong>
                      </span>
                      <span class="item-metastat">
                        <strong>{{user.lastname | uppercase}}</strong>
                      </span>
                    </span>
                  </md-item-template>
                </md-autocomplete>
              </div>
            </div>


          </ng-form><br>
        </md-content>
      </md-tab>
      <md-tab label="My Publshed Events">
        <md-content class="md-padding">
            <div layout="row">
              <div flex>
                <div ng-repeat="event in publishedEvents | orderBy: '-created_at' ">
                  <md-card class="mini-event-cards">
                    <img ng-src="{{event.imageUrl}}" width="300px" height="300px">
                    <md-card-content>
                      <a ng-click="viewEvent(event._id)"><h2 class="md-title"><strong class="event-card-name">{{event.name}}</strong></h2></a>
                      <a href="" class="event-card-links" ng-click="editEvent(event._id)">edit</a><a class="event-card-links" href="" ng-click="deleteEvent(event._id, publishedEvents)">delete</a><a href="" ng-click="viewEvent(event._id)">view</a>
                    </md-card-content>
                  </md-card>
                </div>
                <div ng-show="!publishedEvents || !publishedEvents.length">
                    <md-card-content>
                      No event found under this category
                    </md-card-content>
                </div>
              </div>
            </div>
          </md-content>
      </md-tab>
       <md-tab label="My Event Drafts">
        <md-content class="md-padding">
            <div layout="row">
              <div flex>
                <div ng-repeat="event in eventDrafts | orderBy: '-created_at' ">
                  <md-card class="mini-event-cards">
                    <img ng-src="{{event.imageUrl}}" width="300px" height="300px">
                    <md-card-content>
                      <a ng-click="viewEvent(event._id)"><h2 class="md-title"><strong class="event-card-name">{{event.name}}</strong></h2></a>
                      <a href="" class="event-card-links" ng-click="editEvent(event._id)">edit</a><a class="event-card-links" href="" ng-click="deleteEvent(event._id, eventDrafts)">delete</a><a href="" ng-click="viewEvent(event._id)">view</a>
                    </md-card-content>
                  </md-card>
                </div>
                <div ng-show="!eventDrafts || !eventDrafts.length">
                    <md-card-content>
                      No event found under this category
                    </md-card-content>
                </div>
              </div>
            </div>
          </md-content>
      </md-tab>
      <!-- <md-tab label="My Saved Events">
        <md-content class="md-padding" layout-padding style="max-height:500px;padding: 10px;">
            <md-list>
              <md-subheader class="md-no=sticky"><strong>list of saved events</strong></md-subheader>
              <md-subheader><a href="#" ng-click="removeSaved()">clear all</a></md-subheader>
              <md-divider></md-divider>
              <md-list-item ng-repeat="item in eventDrafts">
                <a style="color:black" ui-sref="user.home">{{item.name}}</a>
                <md-list-item>
                  <a ng-click="deleteItem(item.key)"><em>delete</em></a>
                </md-list-item>
              </md-list-item>
              <md-divider></md-divider>
            </md-list>
          </md-content>
      </md-tab>  -->
    </md-tabs>
  </md-content>
